rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Galerie — lecture publique, upload/suppression admin seulement
    match /gallery/{allPaths=**} {
      allow read: if true;
      allow write, delete: if request.auth != null;
    }
  }
}
